.MainGrid {
  padding: 0 !important;
  margin: 0 !important;
}
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 50px;
}

.PlayerParentRow {
  padding: 0 !important;
  height: calc(100vh-50px) !important;
  margin-top: 50px !important;
}
.PlayerParentCol {
  height: 93vh;
  width: 100vw;
  padding: 0 !important;
}
.ForewordParentRow {
  padding: 0 !important;
}
.ForewordParentCol {
  padding: 2% 5% !important;
  height: 100vh;
}
.AboutMeParentRow {
  padding: 0 !important;
}
.AboutMeParentCol {
  padding-top: 2% !important;
  height: 100vh;
}
.ExperiencesParentRow {
  background-color: beige;
}
.ExperiencesParentCol {
  padding: 2% 5% !important;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .PlayerParentCol {
    height: 100%;
  }
}
