.MainDashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SubDashboard {
  padding: 3%;
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: bisque;
}
.SubDashboardTitle {
  font-size: 22px;
  line-height: 26px;
}
.SubDashboardButton {
  align-self: flex-end;
}
.PictureDiv {
  width: 25%;
}
.Picture {
  height: 93vh;
}
