.NavbarMain {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 10;
  top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.NavbarSecondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #f7d9bf;
}
.NavbarDropdownList {
  height: 100%;
  width: 100vw;
}

.DropdownButton {
  height: 50px;
}
.DropdownMenu {
  width: 100vw;
  background-color: #70e0b2 !important;
}
.DropdownItem {
  display: flex;
  flex-direction: row;
}
.DropdownItemButton {
  width: 100%;
  color: black !important;
  font-size: 22px !important;
}
.HamburgerDiv {
  width: 100px;
}
.AvatarDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 33.3333%;
  z-index: 10;
}
.ProfilePicture {
  height: 80%;
  border-radius: 20px;
  border: 2px solid grey;
  background-color: white !important;
}
.TelegramContainer {
  border: 2px black solid;
  background-color: white;
  padding: 4px 10px;
  margin: 0px 10px;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;

  z-index: 10;
}
